@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: nunito, sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgb(121, 121, 194);
}

/* headings and subheadings */
.heading {
    text-align: center;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    color: white;
    width: 100%;
    clear: both;
}
.subheading {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: darkblue;
    width: 100%;
    
}
    

/* header logo and navigation links */

#logo,
#nav {
    line-height: 80px;
}

#logo {
    float: left;
    padding-left: 30px;
    
}


#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid darkblue;
}


/* home page image */
#home-image {
    height: 300px;
    width: 100%;
    background: url(../images/glencoe-1248184_1920.jpg) no-repeat center center;
}



#company-name {
    font-size: 200%;
    font-family: Roboto, sans-serif;

}

/* home page text and images */
.about-us {
    height: 60px;
    clear: both;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 30px;
    
    
}

.what-we-do {
    height: 250px;
}

#female-image {
    max-width: 200px;
    max-height: 200px;
}

#male-image {
    max-width: 200px;
    max-height: 200px;
}


/* What we do page */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-right: 20px;
    clear: both;
    
    
}

.image {
    flex-basis: 60%;
        
}

.text {
    
    padding-left: 40px;
}



#winter-image {
    max-width: 300px;
    max-height: 2000px;
    
}

#summer-image {
    max-width: 300px;
    max-height: 200px;
    
}

#climb-image {
    max-width: 300px;
    max-height: 200px;
    
}

/* Form */

.form-section {
    clear: left;
    background: url(../images/mountain-pass.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(121, 121, 194, 0.5);
    max-width: 400px;
    position: absolute;
    padding: 30px;
    left: 30%;
    
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-area {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: darkblue;
}

.text-area:hover {
    border-color: darkblue;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: darkblue;
    color: #fafafa;
    display: block;
}

.send-button:hover {
    background-color: #fafafa;
    color: darkblue;
}

/* contact section */

#contact-image {
    background: url(../images/sunset.jpg) no-repeat center center;
    height: 300px;  
    width: 100%;
    background-size: 100% 300px;
    
}

#contact {
    text-align: center;
    padding-top: 30px;
    
}

#contact-details {
    text-align: center;
    padding-top: 150px;
}

/* where we go photos */

#gallery {
    column-count: 3;
    margin-top: 20px;
    
}

#gallery > img {
    width: 100%;
}

