@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: nunito, sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgb(121, 121, 194);
}

.heading {
    text-align: center;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    color: white;
    width: 100%;
    margin: 10px 20px 40px 20px;
}
.subheading {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: white;
    width: 100%;
    padding-top: 10px;
    text-decoration: underline;
    }
    



/* header logo and navigation links */

#logo,
#nav {
    line-height: 80px;
}

#logo {
    float: left;
    padding-left: 30px;
}


#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    border-bottom: 1px solid rgb(121, 121, 194);
}

.active {
    border-bottom: 1px solid white;
}

/* home page image */
#home-image {
    height: 300px;
    width: 100%;
    background: url(../images/glencoe-1248184_1920.jpg) no-repeat center center;
}



#company-name {
    font-size: 200%;
    font-family: Roboto, sans-serif;

    position: absolute;

    bottom: 100px;
    left: 30px;
}

/* home page text and images */
.about-us {
    height: 60px;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 30px;
    
    
}

.what-we-do {
    height: 250px;
}

.cat {
    height: 200px;
    width: 200px;
    float: left;
    
    
}


.image-text {
    width: 77%;
    height: 180px;
    display: inline;
    float: right;
    margin: 10px 30px 10px 30px;
    vertical-align: middle;
    
}

.what-text {
    width: 77%;
    height: 180px;
    display: inline;
    float: right;
    margin: 10px 30px 10px 30px;
    vertical-align: middle;
}

/* What we do page */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-right: 20px;
    
}

.image {
    flex-basis: 60%;
        
}

.text {
    
    padding-left: 40px;
}

#female-image {
    max-width: 200px;
    max-height: 200px;
}

#male-image {
    max-width: 200px;
    max-height: 200px;
}

#winter-image {
    max-width: 300px;
    max-height: 2000px;
    
}

#summer-image {
    max-width: 300px;
    max-height: 200px;
    
}

#climb-image {
    max-width: 300px;
    max-height: 200px;
    
}