@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: nunito, sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgb(121, 121, 194);
}

/* header logo and navigation links */

#logo, #nav {
    line-height: 80px;
}

#logo {
    float: left;
}

#logo:hover  {
    text-transform: var(Mountain Top Guides);
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover  {
    border-bottom: 1px solid rgb(121, 121, 194);
}
.active {
    border-bottom: 1px solid rgb(121, 121, 194);
}

/* home page image */
#main-image {
    height: 480px;
    width: 100%;
    background: url(../images/glencoe-1248184_1920.jpg) no-repeat center center;
    
}






